<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>controllerDelegate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>220D50C71BE8458200BCEB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220D50E01BE8458200BCEB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220D50EB1BE8458200BCEB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
